/* .app-container{
    text-align: center;
    background-color: rgb(123, 229, 241);
    padding: 20px;
} */

.footer {
    margin-top: 800px !important;
    background-color: #1a1c1f;
    color: #ffffff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    width: 100% !important;
    position: relative;
    bottom: 0%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 20px;
  }
  
  .footer-section {
    max-width: 200px;
  }
  
  .footer-logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .tasker-button {
    background-color: #9baaca;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .tasker-button:hover {
    background-color: #da99c4;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    border-top: 1px solid #c19ed2;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
  }
  
  .social-icons a {
    margin-right: 10px;
    color: #0e0c0c;
    font-size: 24px;
  }
  
  .social-icons a:hover {
    color: #4773ed;
  }